body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #020128 25%, #110c6c 90%);
    color: #edf2f1;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.green-section, .white-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.green-section {
    background-color: #4fdea3;
    clip-path: polygon(0 0, 70% 0, 0 70%);
}

.white-section {
    background-color: #edf2f1;
    clip-path: polygon(100% 100%, 40% 100%, 100% 40%);
}



.logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 45%;
    
}

.typing-container {
    position: relative;
    top: 25%;
    width: 70%;
    max-width: 600px;
    padding: 20px;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #4fdea3; /* Classic green terminal text */
    background-color: rgba(4, 4, 049, 0.3); /* Black background */
    
    border: 2px solid rgba(4, 4, 049, 0.35); 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    
    border-radius: 10px;
    opacity: 0;
    transition: opacity 2s ease, max-height 2s ease;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in;
}

.cursor {
    display: inline-block;
    width: 2px;
    height: 1.5rem;
    background-color: #ceedcf;
    vertical-align: bottom;
    opacity: 1;
}

.visible {
    opacity: 1;
}


/* Media query for mobile devices */
@media (max-width: 767px) {
    
    .green-section {
        background-color: #4fdea3;
        clip-path: polygon(0 0, 100% 0, 0 40%);
    }
    
    .white-section {
        background-color: #edf2f1;
        clip-path: polygon(0 0, 100% 0, 0 40%);
        clip-path: polygon(100% 100%, 10% 100%, 140% 40%);
    }

    .logo {
        width: 60%; /* Make the logo bigger on mobile */
        top: 30%;
    }

    .typing-container {
        top: 10%;
        font-size: 1rem;
        padding: 15px;
    }
}
